.input_group {
  display: flex;
  justify-content: center;
  width: 75%;
  position: relative;
}

.input_group_div {
  width: 75%;
}

.Btn {
  background-color: #6c63ff;
  &:hover {
    background-color: #4a41f5;
  }
}

.homeCard {
  max-width: 250px;
  min-height: fit-content;
  max-height: 250px;
  align-items: center;
  padding: 8px 4px;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    transform: scale3d(1.1);
  }
}

.homeCard:hover {
  background-color: rgb(9, 87, 160);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.imageBody {
  max-width: 100px;
}

.cardBody {
  padding: 4px;
  margin: 36px;
  margin-top: 64px;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #e5f8ff; */
}

.homepage_heading {
  font-size: 32px;
  font-weight: 400;
  color: #292929;
  text-align: center;
  margin-bottom: 15px;
  padding-top: 40px;
}

.filterGroup {
  background-color: #efefef;
}

.selectForm {
  min-width: 50%;
}

.autocomplete_dropdown_container {
  border-radius: 10px;
  width: 54%;
  position: absolute;
  z-index: 100;
  background-color: #fbf2f2;
  top: 38px;
  overflow-x: auto;
  height: 197px;
}
.remove_dropdown_container {
  height: 0px;
}

.suggestion_item {
  margin: 5px 0px;
  cursor: pointer;
  padding: 5px;
}
.suggestion_item:hover {
  background-color: #e8e4e4;
}
.input_group_bs {
  position: relative;
}
.chips {
  /* position: absolute; */
  z-index: 100;
}
.chip_container {
  /* position: absolute; */
}

.property_owner {
  margin: 100px 0px 20px 0px;
}

@media (max-width: 768px) {
  .custom_width {
    width: 100% !important;
  }
  .autocomplete_dropdown_container {
    top: 75px;
    width: 76%;
  }
  .input_group {
    width: 100%;
  }
  .input_group_div {
    /* width: ; */
  }
}
