.button {
  background-color: #28438a;
  color: white;
  padding: 2px 4px;
}

.button:hover {
  background-color: #3356b2;
}

.input_radio {
  display: none;
}

.input_label {
  border: 2px solid #28438a;
  border-radius: 5px;
  padding: 2px 4px;
  align-items: center;
  width: 100%;
}

/* INACTIVE PG */
.inactive {
  opacity: 0.5;
  background-color: rgb(220, 220, 220);
}

.popover {
  background-color: black;
  color: white;
  position: absolute;
  padding: 5px;
  margin-left: 50px;
  margin-right: auto;
  width: max-content;
  border-radius: 8px;
}
.show_popover {
  display: block;
}
.hide_popover {
  display: none;
}
/* INACTIVE PG */

.input_radio:checked + .input_label {
  background-color: #3356b2;
  color: white;
}

.leftbox {
  background-color: #3356b2;
}

.selectBox {
  -webkit-appearance: listbox !important;
}
