.button {
  background-color: #28438a;
  color: white;
  padding: 2px 4px;
}

.button:hover {
  background-color: #3356b2;
}

.input_radio {
  display: none;
}

.input_label {
  border: 2px solid #28438a;
  border-radius: 5px;
  padding: 2px 4px;
  align-items: center;
  width: 100%;
}

.input_radio:checked + .input_label {
  background-color: #3356b2;
  color: white;
}

.leftbox {
  background-color: #3356b2;
}

.selectBox {
  -webkit-appearance: listbox !important;
}
