.autocomplete_dropdown_container {
  border-radius: 10px;
  width: 54%;
  position: absolute;
  z-index: 100;
  background-color: #fbf2f2;
  top: 38px;
  overflow-x: auto;
  height: 197px;
}
.remove_dropdown_container {
  height: 0px;
}

.container {
  background-color: #ffffff;
}

.sticky_city {
  position: sticky !important;
  top: 10px;
}

.image_input {
  background-color: blue;
  color: #ffffff;
}

.autocomplete_dropdown_container{
  border-radius: 10px;
  width: 100%;
  position: absolute;
  z-index: 100;
  background-color: #fbf2f2;
  top: 62px;
  overflow-x: auto;
  height: 197px;
}
.remove_dropdown_container{
  height: 0px;
}